.scheduler {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.scheduler-sidebar {
  width: 600px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.scheduler-sidebar-section {
  padding: 2em;
}

.scheduler-main {
  flex-grow: 1;
  padding: 1em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
body{
  background:#dcdcdc;
  margin-top:20px;}

.widget-26 {
color: #3c4142;
font-weight: 400;
}

.widget-26 tr:first-child td {
border: 0;
}

.widget-26 .widget-26-job-emp-img img {
width: 35px;
height: 35px;
border-radius: 50%;
}

.widget-26 .widget-26-job-title {
min-width: 200px;
}

.widget-26 .widget-26-job-title a {
font-weight: 400;
font-size: 0.875rem;
color: #3c4142;
line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
color: #68CBD7;
text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
margin: 0;
line-height: 1.5;
font-weight: 400;
color: #3c4142;
font-size: 0.8125rem;
color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
color: #68CBD7;
text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
font-size: 12px;
font-weight: 400;
}

.widget-26 .widget-26-job-info {
min-width: 100px;
font-weight: 400;
}

.widget-26 .widget-26-job-info p {
line-height: 1.5;
color: #3c4142;
font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
color: #3c4142;
}

.widget-26 .widget-26-job-salary {
min-width: 70px;
font-weight: 400;
color: #3c4142;
font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
padding: .5rem;
display: inline-flex;
white-space: nowrap;
border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
width: 13px;
height: 13px;
margin-right: .5rem;
float: left;
border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
font-size: 0.8125rem;
color: #3c4142;
font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
width: 20px;
height: 20px;
color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
fill: #fd8b2c;
}
.bg-soft-base {
background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}


.search-form {
width: 80%;
margin: 0 auto;
margin-top: 1rem;
}

.search-form input {
height: 100%;
background: transparent;
border: 0;
display: block;
width: 100%;
padding: 1rem;
height: 100%;
font-size: 1rem;
}

.search-form select {
background: transparent;
border: 0;
padding: 1rem;
height: 100%;
font-size: 1rem;
}

.search-form select:focus {
border: 0;
}

.search-form button {
height: 100%;
width: 100%;
font-size: 1rem;
}

.search-form button svg {
width: 24px;
height: 24px;
}

.search-body {
margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
color: #3c4142;
margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
color: #727686;
}

.search-body .search-result .result-header {
margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
text-align: right;
display: flex;
align-items: center;
justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
display: flex;
align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
flex-shrink: 0;
font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
.search-body .search-filters {
  display: flex;
}
.search-body .search-filters .filter-list {
  margin-right: 1rem;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px){
.col-lg-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}
.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}
.well-block {
  background-color: #fff;
  border: 1px solid #e9e6e8;
  padding: 40px;
}

.well-title {
  margin-bottom: 40px;
}


.text-link {
  text-decoration: 'none'; color: 'inherit';
}


.modal-login {		
  color: #636363;
  width: 350px;
  margin: 80px auto 0;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;   
      position: relative;
      justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-login .close {
      position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
      justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}		
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
  .modal-login .btn {
      color: #fff;
      border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}


/* Chat BOT */
.bot{
  background-color: rgb(152, 85, 212);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 4px;
  padding-left: 20px;
  max-width: 300px;
}

.user{
  background-color: rgb(0, 180, 160);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px; 
  text-align: right;
  margin-top: 10px;
  padding: 4px;
  padding-right: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: 0;
}

.chat{
  display: inline-block; 
   max-width: 400px;
}
.historyContainer{
  height:600px; 
  overflow: scroll;
}

.chatBox{
  border: 0;
  border-bottom: 1px solid black;   
  height: 20px;
  width: 400px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}




/* CHAT BOT 2 */
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
